.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  color: #443b3b;
}

.error__container {
  flex-direction: column;
  display: flex;
  justify-content: space-around;
  height: 100%;
}

.error__info {
  position: relative;
  width: 400px;
}

.error__title {
  margin: 0 auto;
  font-weight: normal;
  font-size: 140px;
  text-align: center;
  text-shadow: 6px 6px 6px rgba(0, 0, 0, 0.5);
  user-select: none;
  margin-bottom: 100px;
}

.error__title_broken {
  position: absolute;
  margin: 0;
  top: 85px;
  right: 90px;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-name: rotate;
  animation-timing-function: ease-in-out;
  transform-origin: top left;
}

.error__subtitle {
  margin: 0;
  font-weight: normal;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  user-select: none;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

.error__exit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 120px;
  min-height: 36px;
  font-weight: normal;
  font-size: 17px;
  line-height: 17px;
  background-color: transparent;
  border: 2px #443b3b solid;
  border-radius: 18px;
  color: #443b3b;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .error__title {
    font-size: 100px;
    line-height: 97px;
  }

  .error__title_broken {
    position: absolute;
    margin: 0;
    top: 62px;
    right: 125px;
  }

  .error__subtitle {
    font-size: 16px;
    line-height: 15px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  }

  .error__exit-button {
    font-size: 16px;
    line-height: 15px;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(-10deg);
    transform-origin: 60% 22%;
  }
  50% {
    transform: rotate(10deg);
    transform-origin: 60% 22%;
  }
  100% {
    transform: rotate(-10deg);
    transform-origin: 60% 22%;
  }
}
