.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: calc(100vh - 174px);
  font-family: Gotham;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .main {
    min-height: calc(100vh - 150px);
  }
}
