  .application {
    font-family: Gotham;
    width: calc(100% - 120px);
    margin: 0 auto 25px;
    transition: 0.3s;
  }



  .application__sections {
    display: grid;
    grid-template-columns: 320px 1fr 1fr;
    grid-template-rows: 2;
    column-gap: 29px;
    /* row-gap: 10px; */
    align-content: center;
    background-color: #fff;
    border-radius: 36px;
    border: 3px solid #8b8b8b;
    text-align: center;
    color: #443B3B;
    padding: 0 36px 36px;
    transition: 0.3s;
  }

  .application__header {
    grid-row: 1;
    grid-column: 1/4;
    display: flex;
    align-items: center;
    height: 36px;
    transition: 0.3s;
  }

  .application__id {
 margin: 0;
    
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 13px; 
    transition: 0.3s; 
}



.application__copy-button{
  margin-left: auto;
  margin-right: 10px;
  visibility: hidden;
  max-height: 20px;
  max-width: 20px;

}

.application__copy-logo{
  visibility:visible;
  max-height: 20px;
  max-width: 20px;
  transition: 0.3s; 
}


.application__delete-button{
  visibility: hidden;
  max-height: 20px;
  max-width: 20px;

}

.application__delete-logo{
  visibility:visible;
  max-height: 20px;
  max-width: 20px;
  transform: rotate(-45deg);
  transition: 0.3s; 
}







  .application__todo {
    grid-row: 2;
    grid-column: 2;
    background-color: #F2F2E6;
    border: 1px solid #8B8B8B;
    border-radius: 10px;
    padding-bottom: 10px;
  }

  .application__why{
    grid-row: 2;
    grid-column: 3;
    background-color: #F2F2E6;
    border: 1px solid #8B8B8B;
    border-radius: 10px;
    padding-bottom: 10px;
  }

  .application__title {
    margin: 11px 0 21px 10px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    text-align: start;
  }

  .application__subtitle {
    margin: 0 10px 0 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-align: start;
    white-space: pre-wrap;
  }

  .application__company {
    grid-row: 2;
    grid-column: 1;
    padding: 14px 10px 14px;
    background-color: #F2F2E6;
    border: 1px solid #8B8B8B;
    border-radius: 10px;
    transition: 0.3s;
  }

  .application__container {
    display: grid;
    grid-template-columns: 110px 1fr;
    column-gap: 10px;
    row-gap: 13px;
    transition: 0.3s;
}

  .application__position {
    margin: 0;
    grid-row: 1;
    grid-column: 1;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    text-align: start;
    transition: 0.3s;
  }

  .application__logo {
    grid-row: 2/4;
    grid-column: 1;
    align-self:center;
    justify-self: center;
    width: 100px;
    height: 100px;
    transition: 0.3s; 
  }

  .application__applicants {
    grid-row: 4;
    grid-column: 1;
    display: flex;
    justify-self: center;
    align-items: center;
    width: 53px;
    height: 22px;
  }

  .application__applicants-logo {
    width: 22px;
    height: 22px;
  }

  .application__applicants-count {
    margin-left: 7px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    letter-spacing: -0.04em;
  }

  .application__note {
    margin: 0;
    grid-row: 1;
    grid-column: 2;   
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
  }

  .application__name {
    margin: 0;
    grid-row: 2;
    grid-column: 2;  
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
  }

  .application__tags{
    grid-row: 3/5;
    grid-column: 2;  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s;
}

  .application__level {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    height: 25px;
    padding: 0 10px 0 10px;
    width: 100px;
    border-radius: 16px;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    transition: 0.3s;
  }

  .application__level_type_intern {
    background: #45ce1b;
  }
 
  .application__level_type_junior {
    background: #fcce45;
  }

  .application__level_type_middle {
    background: #f25949;
  }
 
  .application__level_type_senior {
    background: #44bdb4;
  }

  .application__level_type_lead {
    background: #2528b5;
  }

  .application__level_type_director {
    background: #7940b5;
  }

  .application__tag {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    background: #fff;
    border: 2px solid #8b8b8b;
    height: 21px;
    padding: 0 10px 0 10px;
    width: 96px;
    border-radius: 16px;
    font-weight: 500;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    transition: 0.3s;
  }

  /* --------------2-------------------- */
/* --------------2-------------------- */
/* ---------------2------------------- */
/* --------------2-------------------- */

@media screen and (max-width: 1279px) {
    .application {
        width: calc(100% - 60px);
        margin: 0 auto 15px;
      }
    
      .application__sections {
        display: grid;
        grid-template-columns: 260px 1fr 1fr;
        column-gap: 20px;

      }
    
    
      .application__logo {
        width: 80px;
        height: 80px;
      }
    
      .application__level {
        width: 80px;
        font-size: 10px;
        line-height: 10px; 
      }
    
      .application__tag {
        width: 76px;
        font-size: 10px;
        line-height: 10px; 
      }
  }
  
  /* --------------3-------------------- */
  /* ---------------3------------------- */
  /* ----------------3------------------ */
  /* -----------------3----------------- */
  
  @media screen and (min-width: 320px) and (max-width: 767px) {

      .application {
        width: calc(100% - 18px);
        margin: 0 auto 15px;
      }
    
      .application__sections {
        padding: 0px 12px 12px;
        grid-template-columns: none;

        gap: none;
        border-radius: 18px;
        border: 2px solid #8b8b8b;
      }

      .application__header {
        grid-row: 1;
        grid-column: 1;

      }

      .application__todo {
        margin-top: 10px;
        grid-row: 3;
        grid-column: 1;

      }
    
      .application__why{
        margin-top: 10px;
        grid-row: 4;
        grid-column: 1;

      }



    
      .application__title {
        margin: 11px 0 11px 10px;
        font-size: 16px;
        line-height: 16px;
      }

      .application__company {
        grid-row: 2;
        grid-column: 1;
        padding: 10px 10px 14px;
      }
    
      .application__container {
        grid-template-columns: 1fr 1fr;
        column-gap: 5px;
        row-gap: 5px;
    }
    
      .application__position {
        font-size: 15px;
        line-height: 15px;
        text-align: center;
      }
    
      .application__applicants {
        grid-row: 4;
        grid-column: 1;
       }
    
     
      .application__applicants-count {
        margin-left: 4px;
      }
    
      .application__note {
        grid-row: 5;
        grid-column: 1/3;   
        font-size: 8px;
        line-height: 10px;
        text-align: start;
      }
    
      .application__name {
        grid-row: 1;
        grid-column: 2;  
      }
    
      .application__tags{
        grid-row: 2/4;
        grid-column: 2;  
    }
    
      .application__tag {
        margin-top: 3px;
      }
  }