.addJob {
  font-family: Gotham;
  box-sizing: border-box;
  margin: 50px 60px;
  background-color: #fff;
  border: 3px solid #8b8b8b;
  border-radius: 36px;
  transition: 0.3s;
}

.addJob__form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 40px 36px;
  gap: 40px 72px;
  transition: 0.3s;
}

.addJob__company {
  position: relative;
  margin: 0;
  padding: 0;
  border: none;
}

.addJob__position {
  position: relative;
  margin: 0;
  padding: 0;
  border: none;
}

.addJob__level {
  position: relative;
  margin: 0;
  padding: 0;
  border: none;
}

.addJob__tag {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  border: none;
}

.addJob__logo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;
  border: none;
}

.addJob__note {
  position: relative;
  margin: 0;
  padding: 0;
  border: none;
}

.addJob__todo {
  position: relative;
  grid-column: 2;
  grid-row: 1/4;
  margin: 0;
  padding: 0;
  border: none;
}

.addJob__why {
  position: relative;
  grid-column: 2;
  grid-row: 4/6;
  margin: 0;
  padding: 0;
  border: none;
}

.addJob__submit {
  align-self: end;
  justify-self: center;
  margin: 0;
  padding: 0;
  border: none;
}

.addJob__input-name {
  display: inline-block;
  margin: 0 0 10px;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  transition: 0.3s;
}

.addJob__input {
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  padding: 0 15px;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  background: #f2f2e6;
  border: 2px solid #8b8b8b;
  border-radius: 20px;

  transition: 0.3s;
}

.addJob__input_error {
  color: red;
}

.addJob__error-message {
  position: absolute;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 14px;
  line-height: 10px;
  color: red;
  transition: 0.3s;
}

.addJob__error-message_type_text {
  left: 0;
  top: 80px;
}

.addJob__error-message_type_textarea {
  left: 0;
  top: 265px;
}

.addJob__container {
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(3, 100px);
  row-gap: 25px;
  transition: 0.3s;
}

.addJob__button-label {
  display: inline-block;
  height: 25px;
  cursor: pointer;
  color: #292929;
  background: #efefef;
  border-radius: 13px;

  transition: 0.3s;
  user-select: none;
}

.addJob__button-label .addJob__button-label-text {
  margin: 7px 0 0 0;
  text-align: center;
  font-weight: 700;
  font-size: 13px;
  line-height: 13px;
}

.addJob__button-label:hover {
  color: #101010;
  background: #d6d6d6;

  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2), inset 0 -3px 0 rgba(0, 0, 0, 0.32);
}

.addJob__button-label:active {
  transform: translateY(2px);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2), inset 0px -1px 0 rgba(0, 0, 0, 0.22);
}

#intern:checked + .addJob__button-label {
  color: #efefef;
  background: #45ce1b;
}

#intern:checked + .addJob__button-label:hover {
  color: #e2e2e2;
  background: #45ce1b;
}

#junior:checked + .addJob__button-label {
  color: #fff;
  background: #fcce45;
}

#junior:checked + .addJob__button-label:hover {
  color: #fff;
  background: #fcce45;
}

#middle:checked + .addJob__button-label {
  color: #efefef;
  background: #f25949;
}
#middle:checked + .addJob__button-label:hover {
  color: #e2e2e2;
  background: #f25949;
}

#senior:checked + .addJob__button-label {
  color: #efefef;
  background: #44bdb4;
}

#senior:checked + .addJob__button-label:hover {
  color: #e2e2e2;
  background: #44bdb4;
}

#lead:checked + .addJob__button-label {
  color: #efefef;
  background: #2528b5;
}

#lead:checked + .addJob__button-label:hover {
  color: #e2e2e2;
  background: #2528b5;
}

#director:checked + .addJob__button-label {
  color: #efefef;
  background: #7940b5;
}

#director:checked + .addJob__button-label:hover {
  color: #e2e2e2;
  background: #7940b5;
}

.addJob__hidden {
  display: none;
}

.addJob__logo-button-label {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 116px;
  height: 40px;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  background-color: #5bc8d7;
  border: 2px solid #8b8b8b;
  border-radius: 20px;
  transition: 0.3s;
}

.addJob__logo-button {
  display: none;
}

.addJob__logo-preview {
  width: 150px;
  height: 150px;
  box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
  transition: 0.3s;
}

.addJob__logo-preview_delete {
  cursor: pointer;
}

.addJob__textarea {
  box-sizing: border-box;
  width: 100%;
  min-height: 224px;
  padding: 0 15px;
  resize: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  background: #f2f2e6;
  border: 2px solid #8b8b8b;
  border-radius: 10px;
  transition: 0.3s;
}

.addJob__submit-button {
  box-sizing: border-box;
  width: 350px;
  height: 40px;
  font-weight: 500;
  font-size: 20px;
  background-color: #5bc8d7;
  border: 2px solid #8b8b8b;
  border-radius: 36px;
  transition: 0.3s;
}

.addJob__submit-button_disabled {
  color: #c2c2c2;
  background-color: #f8f8f8;
  transition: 0.3s;
}

@media screen and (max-width: 1279px) {
  .addJob {
    margin: 50px 30px;
  }

  .addJob__form {
    grid-template-columns: none;
    margin: 34px 26px;
    gap: 20px 0;
  }

  .addJob__todo {
    grid-row: 7;
    grid-column: 1;
  }

  .addJob__why {
    grid-row: 8;
    grid-column: 1;
  }

  .addJob__submit {
    grid-row: 9;
  }

  .addJob__input-name {
    font-size: 18px;
    line-height: 18px;
  }

  .addJob__input {
    padding-left: 20px;
    font-size: 18px;
    line-height: 18px;
  }

  .addJob__error-message_type_text {
    top: 73px;
  }

  .addJob__error-message_type_textarea {
    top: 257px;
  }

  .addJob__container {
    grid-template-columns: repeat(6, 100px);
    row-gap: 0;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .addJob {
    margin: 25px 9px;
    border-width: 2px;
    border-radius: 18px;
  }

  .addJob__form {
    margin: 16px 10px;
    gap: 10px 0;
  }

  .addJob__submit {
    width: 100%;
  }

  .addJob__input-name {
    font-size: 14px;
    line-height: 14px;
  }

  .addJob__input {
    height: 28px;
    padding-left: 13px;
    font-size: 14px;
    line-height: 14px;
    border-width: 1px;
  }

  .addJob__container {
    justify-content: space-around;
    grid-template-columns: repeat(2, 100px);
    row-gap: 10px;
  }

  .addJob__logo {
    flex-direction: column;
  }

  .addJob__logo-button-label {
    height: 30px;
    font-size: 16px;
    border-width: 1px;
  }

  .addJob__logo-preview {
    width: 130px;
    height: 130px;
    margin-top: 10px;
  }

  .addJob__textarea {
    min-height: 150px;
    font-size: 14px;
    line-height: 18px;
    border-width: 1px;
  }

  .addJob__error-message {
    font-size: 8px;
    line-height: 8px;
  }

  .addJob__error-message_type_text {
    top: 57px;
  }

  .addJob__error-message_type_textarea {
    top: 178px;
  }

  .addJob__submit-button {
    width: 100%;
    height: 30px;
    font-size: 16px;
    border-width: 1px;
  }
}
