.addTags {
  display: flex;
  justify-self: start;
  flex-wrap: wrap;
}

.addTags__input-name {
  margin: 0 0 10px;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  transition: 0.3s;
}

.addTags__tag-add {
  width: 15px;
  height: 15px;
  margin: 0 20px 0 20px;
  padding: 1px;
  border: 2px #8b8b8b solid;
  border-radius: 4px;
  background-color: #e2e2e2;
  transition: 0.3s;
}

.addTags__tag-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 19px;
  margin-top: 2px;
}

.addTags__tag {
  box-sizing: border-box;
  margin-left: 10px;
  padding: 0 10px;
  border: 2px solid #8b8b8b;
  border-radius: 36px;
  cursor: pointer;
  transition: 0.3s;
}

.addTags__tag:hover {
  background: rgb(239, 170, 170);
  transition: 0.3s;
}

@media screen and (max-width: 1279px) {
  .addTags__input-name {
    font-size: 18px;
    line-height: 18px;
  }

  .addTags__tag-add {
    width: 13px;
    height: 13px;
    margin: 0 20px 0 15px;
    border-width: 1.5px;
  }

  .addTags__tag-item {
    height: 14px;
  }

  .addTags__tag {
    font-weight: 500;
    font-size: 14px;
    border-width: 1.5px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .addTags__input-name {
    font-size: 14px;
    line-height: 14px;
  }

  .addTags__tag-add {
    width: 10px;
    height: 10px;
    margin: 0 0 0 10px;
    border-width: 1px;
    border-radius: 3px;
  }

  .addTags__tag-item {
    height: 10px;
  }

  .addTags__tag {
    font-size: 10px;
    border-width: 1px;
  }
}
