.addTags {
    display: flex;
    flex-wrap: wrap;
    
}
.addTags__input-name {
    margin: 0 0 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    transition: 0.3s;
  }

  .addTags__tag-add{
    margin: 0 20px 0 20px;
    border: 2px #8b8b8b solid;
    padding: 1px;
    border-radius: 4px;
    width: 15px;
    height: 15px;
    background-color: #e2e2e2;
    transition: 0.3s;
  }

  .addTags__tag-item {
    margin-top: 2px;
    height: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;  
    transition: 0.3s; 
 
  }

  .addTags__tag {
    margin-left: 10px;
    background: #fff;
    border: 2px solid #8b8b8b;
    padding: 0 10px 0 10px;
    width: minmax(min-content, max-content) + 10px;
    border-radius: 36px;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
  }

  .addTags__tag:hover {
    background: rgb(239, 170, 170);
  }

@media screen and (max-width: 1279px) {
  
.addTags__input-name {
    font-size: 18px;
    line-height: 18px;
  }

  .addTags__tag-add{
    margin: 0 20px 0 15px;
    border: 1.5px #8b8b8b solid;
    padding: 1px;
    width: 13px;
    height: 13px;
  }

  .addTags__tag-item {
      height: 14px;
  }

  .addTags__tag {
    margin-left: 10px;
    border: 1.5px solid #8b8b8b;
    padding: 0 10px 0 10px;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
    transition: 0.3s;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {

  .addTags__input-name {
    font-size: 14px;
    line-height: 14px;
  }

  .addTags__tag-add{
    margin: 0 0 0 10px;
    border: 1px #8b8b8b solid;
    padding: 1px;
    border-radius: 3px;
    width: 10px;
    height: 10px;
  }

  .addTags__tag-item {
    margin-top: 2px;
    height: 10px;
  }

  .addTags__tag {
    border: 1px solid #8b8b8b;
    font-size: 10px;
  }

}