.answerPopup {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  visibility: hidden;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  font-family: Gotham;
  text-align: center;
  color: #292929;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: visibility 1s, opacity 0.5s linear;
}

.answerPopup_opened {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.5s linear;
}

.answerPopup__container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 380px;
  height: 250px;
  color: #fff;
  background: #f2f2e6;
  border: 1px solid #292929;
  border-radius: 10px;
  box-shadow: 0px 0px 9px 3px #292929;
  transition: 0.3s;
}

.answerPopup__title {
  margin: 0 0 30px;
  font-weight: 500;
  font-size: 40px;
  line-height: 40px;
  color: #292929;
  transition: 0.3s;
}

.answerPopup__subtitle {
  margin: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: #292929;
  transition: 0.3s;
}

.answerPopup__link {
  margin: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: #0079bf;
  cursor: pointer;
  transition: 0.3s;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .answerPopup__container {
    width: 300px;
    height: 180px;
    color: #fff;
    border: 1px solid #292929;
    border-radius: 10px;
  }

  .answerPopup__title {
    margin: 0 0 25px;
    font-size: 32px;
    line-height: 32px;
  }

  .answerPopup__subtitle {
    font-size: 16px;
    line-height: 20px;
  }

  .answerPopup__link {
    font-size: 16px;
    line-height: 20px;
  }
}
