.register {
  width: 100%;
  height: 100vh;
  color: #202020;
  display: flex;
  flex-direction: column;
}

.register__form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 70px auto;
  width: 396px;
  height: 100%;
  text-align: start;
}

.register__header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  min-height: 107px;
}

.register__logo {
  width: 60px;
  height: 51px;
  user-select: none;
}

.register__title {
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  user-select: none;
}

.register__container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
}

.register__text {
  margin: 0 0 10px 0;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  color: #202020;
}

.register__input {
  box-sizing: border-box;
  padding-left: 15px;
  height: 46px;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #202020;
  background-color: #d7f6ff;
  border: 1px #a3c7d9 solid;
  border-radius: 8px;
  outline: none;
  caret-color: #fff;
}

.register__input:focus {
  outline: none;
  border: 1px solid #0082c3;
  box-shadow: 0 0 10px #0082c3;
}

.register__input_type_error {
  color: #ee3465;
}

.register__error-text {
  margin: 10px 0 0 0;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  color: #ee3465;
}

.register__error-text_type_disabled {
  user-select: none;
}

.register__submit {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  user-select: none;
}
.register__submitError {
  position: absolute;
  width: 100%;
  margin: 0;
  top: -20px;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  color: #ee3465;
}

.register__submit-button {
  height: 45px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  background: linear-gradient(#ffe539 0%, #ff6464 100%);
  color: #202020;
  border: 1px #202020 solid;
  border-radius: 8px;
  user-select: none;
  transition: 0.3s;
}

.register__submit-button_type_disable {
  background: #f8f8f8;
  border: 1px #a3c7d9 solid;
  color: #c2c2c2;
}

.register__reg-question {
  margin: 16px auto 0;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #202020;
}

.register__link {
  margin-left: 6px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #0082c3;
  border: none;
  text-decoration: none;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .register__form {
    margin: 30px auto;
    width: 260px;
  }
  .register__header {
    min-height: 117px;
    align-items: center;
  }

  .register__submit {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .register__submit-button {
    font-size: 15px;
    line-height: 15px;
    border-width: 1px;
  }

  .register__reg-question {
    font-size: 12px;
    line-height: 15px;
  }

  .register__link {
    margin-left: 7px;
    font-size: 12px;
    line-height: 15px;
  }
}
