.level_type_intern {
  background: #45ce1b;
}

.level_type_junior {
  background: #fcce45;
}

.level_type_middle {
  background: #f25949;
}

.level_type_senior {
  background: #44bdb4;
}

.level_type_lead {
  background: #2528b5;
}

.level_type_director {
  background: #7940b5;
}
