.search {
  font-family: Gotham;
  margin: 0 auto;
  height: 172px;
  color: #443b3b;
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search__search-container {
  width: calc(100vw - 120px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 66px;
  background-color: #fff;
  border: 3px #8b8b8b solid;
  border-radius: 36px;
}

.search__magnifier {
  margin-left: 31px;
  min-width: 20px;
  min-height: 13px;
  transform: rotate(-45deg);
}

.search__search-input {
  margin: 0 30px 0 20px;
  width: 100%;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: #443b3b;
  border: none;
  outline: none;
}

.search__findArrow {
  background-image: url("../../images/find-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-right: 20px;
  min-width: 34px;
  height: 34px;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media screen and (max-width: 1279px) {
  .search__search-container {
    width: calc(100% - 60px);
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .search {
    height: 78px;
  }

  .search__search-container {
    width: calc(100% - 18px);
    height: 34px;
    background-color: #fff;
    border: 2px #8b8b8b solid;
    border-radius: 19px;
  }

  .search__magnifier {
    margin-left: 12px;
    min-width: 12px;
    min-height: 8px;
  }

  .search__search-input {
    margin: 0 15px 0 10px;
    font-size: 15px;
    line-height: 15px;
  }

  .search__findArrow {
    margin-right: 10px;
    min-width: 20px;
    height: 20px;
  }
}
