.applications {
  font-family: Gotham;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 0 auto;
  min-height: calc(100vh - 346px);
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .applications {
    min-height: calc(100vh - 228px);
  }
}
