.applicant {
  font-family: Gotham;
  margin: 0 60px;
  transition: 0.3s;
}

.applicant__sections {
  position: relative;
  margin-bottom: 10px;
  padding: 20px;
  color: #443b3b;
  background-color: #fff;
  border: 3px solid #8b8b8b;
  border-radius: 36px;
}

.applicant__card {
  display: grid;
  grid-template-columns: minmax(min-content, max-content) minmax(min-content, max-content) 1fr;
  column-gap: 25px;
  row-gap: 20px;
  padding: 13px;
  background-color: #f2f2e6;
  border: 1px solid #8b8b8b;
  border-radius: 18px;
  transition: 0.3s;
}

.applicant__id {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.applicant__title {
  white-space: nowrap;
  margin: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  transition: 0.3s;
}

.applicant__field {
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  height: 20px;
  margin-left: 10px;
  padding: 2px 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  background: #ffffff;
  border: 1px solid #8b8b8b;
  border-radius: 5px;
  transition: 0.3s;
}

.applicant__date {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.applicant__comment {
  grid-row: 1/3;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.applicant__comment-field {
  white-space: pre-wrap;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin-left: 10px;
  padding: 10px 10px;
  font-weight: 500;
  font-size: 16px;
  text-align: start;
  line-height: 16px;
  background: #ffffff;
  border: 1px solid #8b8b8b;
  border-radius: 5px;
}

.applicant__download {
  grid-row: 2;
  grid-column: 1;
}

.applicant__download-button {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  background-color: #5bc8d7;
  border: 1px solid #8b8b8b;
  border-radius: 10px;
  transition: 0.3s;
}

.applicant__download-button_disabled {
  color: #8b8b8b;
  background-color: #f8f8f8;
}

.applicant__link {
  grid-row: 2;
  grid-column: 2;
  display: flex;
  justify-content: start;
  align-items: flex-start;
  max-width: 340px;
  transition: 0.3s;
}

.applicant__link-control {
  display: flex;
  width: 100%;
  transition: 0.3s;
}
.applicant__copy-button {
  width: 20px;
  height: 20px;
  margin-left: 10px;
}

.applicant__copy-logo {
  width: 20px;
  height: 20px;
}

.applicant__delete-button {
  position: absolute;
  right: -40px;
  top: calc(50% - 10px);
  width: 20px;
  height: 20px;
  transition: 0.3s;
}

.applicant__delete-logo {
  width: 20px;
  height: 20px;
  transform: rotate(-45deg);
  opacity: 0.4;
  transition: opacity 1s;
  cursor: pointer;
}

.applicant__delete-logo:hover {
  opacity: 1;
}

@media screen and (max-width: 1279px) {
  .applicant {
    margin: 0 30px;
  }

  .applicant__card {
    grid-template-columns: 1fr 1fr;
  }

  .applicant__comment {
    grid-row: 3;
    grid-column: 1/3;
  }

  .applicant__link {
    max-width: 220px;
  }

  .applicant__delete-button {
    right: -28px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .applicant {
    margin: 0 9px;
  }

  .applicant__sections {
    padding: 12px;
    border-width: 2px;
    border-radius: 18px;
  }

  .applicant__card {
    grid-template-columns: 1fr;
    row-gap: 10px;
    padding: 10px;
    border-radius: 10px;
  }

  .applicant__id {
    width: calc(100% - 30px);
    align-items: center;
  }

  .applicant__title {
    margin-right: 10px;
    font-size: 14px;
    line-height: 14px;
  }

  .applicant__field {
    margin: 0;
    font-size: 14px;
    line-height: 14px;
  }

  .applicant__date {
    align-items: center;
  }

  .applicant__comment {
    grid-row: 5;
    grid-column: 1;
    flex-direction: column;
  }

  .applicant__comment-field {
    padding: 5px;
    margin: 10px 0 0;
    min-height: 20px;
    font-size: 14px;
    line-height: 20px;
  }

  .applicant__download {
    grid-row: 3;
    justify-self: center;
  }

  .applicant__download-button {
    width: 100px;
    font-size: 14px;
    line-height: 14px;
  }

  .applicant__link {
    max-width: 236px;
    grid-row: 4;
    grid-column: 1;
    flex-direction: column;
  }
  .applicant__link-control {
    margin-top: 10px;
  }

  .applicant__delete-button {
    right: 20px;
    top: 23px;
  }
}
