.askPopup {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  visibility: hidden;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  font-family: Gotham;
  text-align: center;
  color: #292929;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: visibility 1s, opacity 0.5s linear;
}

.askPopup_opened {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.5s linear;
}

.askPopup__container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 380px;
  height: 250px;
  color: #fff;
  background: #f2f2e6;
  border: 1px solid #292929;
  border-radius: 10px;
  box-shadow: 0px 0px 9px 3px #292929;
  transition: 0.3s;
}

.askPopup__title {
  margin: 0 0 50px;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  color: #292929;
  transition: 0.3s;
}

.askPopup__subtitle {
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #292929;
  transition: 0.3s;
}

.askPopup__buttons {
  display: flex;
  width: 200px;
  margin-top: 30px;
  justify-content: space-between;
  transition: 0.3s;
}

.askPopup__button {
  width: 80px;
  height: 30px;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  background: linear-gradient(#ffe539 0%, #ff6464 100%);
  border: 1px solid #292929;
  border-radius: 10px;
  transition: 0.3s;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .askPopup__container {
    width: 300px;
    height: 180px;
    color: #fff;
    border: 1px solid #292929;
    border-radius: 10px;
  }

  .askPopup__title {
    margin: 0 0 25px;
    font-size: 20px;
    line-height: 20px;
  }

  .askPopup__subtitle {
    font-size: 14px;
    font-weight: normal;
    line-height: 14px;
  }

  .askPopup__buttons {
    width: 150px;
    margin-top: 20px;
  }

  .askPopup__button {
    width: 50px;
    height: 20px;
    font-size: 14px;
    line-height: 14px;
    border-width: 1px;
    border-radius: 20px;
  }
}
